*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19rem;
    width: 100%;
    cursor: pointer;
    background: #F3F8FE;

}
h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
     color: white;
    font-weight: 500;
   padding: 1.8rem ;
   height: 1.rem;
   

}
h2 {
    font-size: .8rem;
    font-family:sans-serif;
     color: white;
     padding: .3rem;
     width:16.3rem ;
     height: 1.5rem;
     margin: 0 12rem;
}
p {
    font-size: 13px;
    font-family: sans-serif;
     color: white;
    margin: 0 140px;
  
}

.main {
    position: absolute;
    width: 40rem;
    height: 16rem;
   background-color: #DDE5F9;
   border-radius: .9rem;


}
.container {
    position: relative;
    background-color:#2D4EC6 ;
    width: 38.5rem;
    height: 15rem;
   border-radius: .9rem;
   text-align: center;
      
}
 .icon {
    position: absolute;
    margin-left: 16.2rem;
    margin-top: 1.7rem;
    padding: 20px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 50%;
    width: 50px;
    background: #FFFFFF;
    color: #6b6969;
 }

.email {
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid rgb(104, 103, 103);
    font-size: .8rem;
    padding: 1.2rem;
    font-family: sans-serif;
    font-weight: 100;
    background: hsl(226, 96%, 82%);
    margin-top: 1.5rem;

    
}

